.chart-container {
	position: relative; /* for absolutely positioned tooltip */

	/* https://www.smashingmagazine.com/2015/11/using-system-ui-fonts-practical-guide/ */
	font-family: -apple-system, BlinkMacSystemFont,
		'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
		'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;

	.axis, .chart-label {
		fill: #555b51;

		line {
			stroke: #dadada;
		}
	}
	.dataset-units {
		circle {
			stroke: #fff;
			stroke-width: 2;
		}

		path {
			fill: none;
			stroke-opacity: 1;
			stroke-width: 2px;
		}
	}
	.dataset-path {
		stroke-width: 2px;
	}
	.path-group {
		path {
			fill: none;
			stroke-opacity: 1;
			stroke-width: 2px;
		}
	}
	line.dashed {
		stroke-dasharray: 5, 3;
	}
	.axis-line {
		.specific-value {
			text-anchor: start;
		}
		.y-line {
			text-anchor: end;
		}
		.x-line {
			text-anchor: middle;
		}
	}
	.legend-dataset-text {
		fill: #6c7680;
		font-weight: 600;
	}
}

.graph-svg-tip {
	position: absolute;
	z-index: 99999;
	padding: 10px;
	font-size: 12px;
	text-align: center;
	color: #192734;
	background: #FFFFFF;
	box-shadow: 0px 1px 4px rgba(17, 43, 66, 0.1), 0px 2px 6px rgba(17, 43, 66, 0.08), 0px 40px 30px -30px rgba(17, 43, 66, 0.1);
	border-radius: 6px;

	ul {
		padding-left: 0;
		display: flex;
	}

	ol {
		padding-left: 0;
		display: flex;
	}

	ul.data-point-list {
		li {
			min-width: 90px;
			font-weight: 600;
		}
	}

	.svg-pointer {
		position: absolute;
		height: 12px;
		width: 12px;
		border-radius: 2px;
		background: white;
		transform: rotate(45deg);
		margin-top: -7px;
		margin-left: -6px;
	}

	&.comparison {
		text-align: left;
		padding: 0px;
		pointer-events: none;
		.title {
			display: block;
			padding: 16px;
			margin: 0;
			color: #313B44;
			font-weight: 600;
			line-height: 1;
			pointer-events: none;
			text-transform: uppercase;
		}

		ul {
			margin: 0;
			white-space: nowrap;
			list-style: none;

			&.tooltip-grid {
				display: grid;
				grid-template-columns: repeat(4, minmax(0, 1fr));
				gap: 5px;
			}
		}

		li {
			display: inline-block;
			display: flex;
			flex-direction: row;
			font-weight: 600;
			line-height: 1;

			padding: 5px 15px 15px 15px;

			.tooltip-label {
				margin-top: 4px;
				font-size: 11px;
				color: #313B44;
			}
		}

		.tooltip-legend {
			height: 12px;
			width: 12px;
			margin-right: 8px;
			border-radius: 2px;
		}
	}
}
